.sizeCost{
    font-size: 0.85rem;
}

.bg-qyn{
    background-color: #062B61;
}

.navbar-qyn .nav-link {
    color: #ffffff;
}

.image-item{
    min-width: 80px;
    align-self: center;
}

.cart-icon{
    color: #ffffff;
    text-decoration: underline;
}

.cart-icon:hover {
    color: #ffffff;
    text-decoration: none
}