<!-- Header -->
<header class="header">
    <div class="navbar navbar-expand-lg navbar-qyn bg-qyn navbar-sticky" data-fixed-element>
        <div class="container px-0 px-xl-3">

            <!-- Logo QyN -->
            <a class="navbar-brand order-lg-1 me-0 pe-lg-3 me-lg-4 click">
                <img class="w-logo" src="../../../../assets/img/logo.jpeg" />
            </a>

            <!-- Menu -->
            <nav class="collapse navbar-collapse order-lg-2" id="navbarCollapse">

                <!-- Search mobile -->
                <div class="input-group mb-0 d-lg-none d-block">
                    <input class="form-control w-100 ps-5 rounded-0 border-0" type="text"
                        placeholder="Search for products..." />
                    <i class="ci-search lead position-absolute start-0 top-50 translate-middle-y ms-3 zindex-5"></i>
                </div>

                <!-- Menu -->
                <ul class="navbar-nav me-auto">

                    <!-- Home -->
                    <li class="nav-item">
                        <a class="nav-link click" (click)="gotoHome()">Home</a>
                    </li>

                    <!-- Catalogo -->
                    <li class="nav-item">
                        <a class="nav-link click" (click)="gotoCatalogo()">Catalogo</a>
                    </li>

                </ul>

            </nav>

            <!-- Toolbar -->
            <div class="d-flex align-items-center order-lg-3">
                <ul class="nav nav-tools flex-nowrap">

                    <li *ngIf="!user" class="nav-item d-lg-block d-none mb-0">
                        <a class="nav-link click fw-normal" data-bs-toggle="modal" data-bs-target="#modal-auth">
                            <i class="ci-profile pb-1 me-1 fs-base align-middle"></i>
                            Iniciar Sesión / Registrarse
                        </a>
                    </li>

                    <li *ngIf="user" class="nav-item d-lg-block d-none mb-0 dropdown">
                        <a class="nav-link click fw-normal" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ci-profile pb-1 me-1 fs-base align-middle"></i>
                            {{user.name}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <button class="dropdown-item d-flex align-items-center" (click)="gotoProfile()">
                                <i class="ci-profile fs-base me-2"></i>
                                <span>Mi Perfil</span>
                            </button>
                            <button class="dropdown-item d-flex align-items-center">
                                <i class="ci-bag fs-base me-2"></i>
                                <span>Mis Pedidos</span>
                            </button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item d-flex align-items-center" (click)="cerrarSesion()">
                                <i class="ci-logout fs-base me-2"></i>
                                <span>Cerrar Sesión</span>
                            </button>
                        </div>
                    </li>

                    <li class="nav-item align-self-center mb-0">
                        <a class="nav-tool pe-lg-0 cart-icon" data-bs-toggle="offcanvas" data-bs-target="#cart">
                            <i class="ci-cart nav-tool-icon"></i>
                            <span class="badge bg-success align-middle mt-n1 ms-2 px-2 py-1 fs-xs">
                                {{ cantidadProductos }}
                            </span>
                        </a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</header>

<!-- Modal SignIn / SignUp -->
<div class="modal fade" id="modal-auth" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0">
            <app-signin [open]="openSignIn" (close)="modalAuth($event)"></app-signin>
            <app-signup [open]="openSignUp" (close)="modalAuth(!$event)"></app-signup>
        </div>
    </div>
</div>

<!-- Shopping Cart -->
<app-shopping-cart></app-shopping-cart>