.slider1{
    background-image: url(../../../../assets/img/home/slider/slider1.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

.slider2{
    background-image: url(../../../../assets/img/home/slider/slider1.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}