<!-- Hero slider -->
<section class="tns-carousel-wrapper tns-controls-onhover">

    <div class="tns-carousel-inner" data-carousel-options=''>

        <!-- Slide 1 -->
        <div class="bg-size-cover py-xl-6 slider1">
            <div class="container pt-5 pb-5">
                <div class="row pb-lg-6">
                    <div class="col-lg-6 offset-lg-1 offset-xl-0">
                        <h3 class="fs-lg text-uppercase text-white from-start delay-1">Fabricación y Comercialización de
                        </h3>
                        <h2 class="display-2 mb-lg-5 text-white pb-3 from-start">Químicos y Textiles</h2>
                        <div class="scale-up delay-2">
                            <button class="btn btn-outline-primary btn-lg text-white" (click)="gotoCatalogo()">Ir al
                                catálogo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="bg-size-cover py-xl-6 slider1">
            <div class="container pt-5 pb-5">
                <div class="row pb-lg-6">
                    <div class="col-lg-6 offset-lg-1 offset-xl-0">
                        <h3 class="fs-lg text-uppercase text-white from-start delay-1">Fabricación y Comercialización de
                        </h3>
                        <h2 class="display-2 mb-lg-5 text-white pb-3 from-start">Químicos y Textiles</h2>
                        <div class="scale-up delay-2">
                            <button class="btn btn-outline-primary btn-lg text-white" (click)="gotoCatalogo()">Ir al
                                catálogo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Pager -->
    <div class="container position-relative">
        <div class="row mt-lg-n5">
            <div class="col-lg-7 col-md-8 col-sm-10 offset-lg-1 offset-xl-0">
                <div class="position-relative">
                    <div id="pager" class="tns-pager tns-pager-inverse mb-xl-5 pb-5 pb-md-6 d-none">
                        <button type="button" data-nav="0">01</button>
                        <button type="button" data-nav="1">02</button>
                        <button type="button" data-nav="2">03</button>
                        <button type="button" data-nav="3">04</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Services -->
<section class="container pt-5 pb-2 pb-sm-5 py-md-5 py-lg-6">
    <div class="row g-0 py-3">

        <div class="col-sm-6 col-md-4 text-center mb-md-0 mb-4 pb-md-0 pb-3">
            <img class="mb-4" src="../../../assets/img/delivery.svg" width="48">
            <h5 class="h5 mb-2">Delivery rápido</h5>
            <p class="mb-0 text-muted">Servicio de entrega eficiente</p>
        </div>

        <span class="divider-vertical d-sm-block d-none"></span>

        <div class="col-sm-6 col-md-4 text-center mb-md-0 mb-4 pb-md-0 pb-3">
            <img class="mb-4" src="../../../assets/img/support.svg" width="48" alt="Customer Support">
            <h5 class="h5 mb-2">24/7 Atención al cliente</h5>
            <p class="mb-0 text-muted">Amigable atención al cliente</p>
        </div>

        <span class="divider-vertical d-sm-block d-none"></span>

        <div class="col-sm-6 col-md-4 text-center mb-md-0 mb-4 pb-md-0 pb-3">
            <img class="mb-4" src="../../../assets/img/guarantee.svg" width="48" alt="Customer Support">
            <h5 class="h5 mb-2">Garantía de reembolso</h5>
            <p class="mb-0 text-muted">Devolvemos el dinero en 30 días</p>
        </div>

    </div>
</section>

<!-- Instagram -->
<section class="pt-5 pb-4 pt-lg-6 pb-lg-5 border-top">
    <div class="container pt-md-4 pb-2 pt-lg-0 pb-lg-0">
        <div class="row">
            <div class="col-md-5 text-center text-md-start pb-2 pb-md-0 mb-4 mb-md-0">
                <p class="text-dark text-uppercase mb-2">Siguenos en Instagram</p>
                <h2 class="h1 pb-2 pb-md-3">@quimica.negocios</h2>
                <a href="#" class="btn btn-outline-primary btn-lg">
                    <i class="ci-instagram fs-lg me-1"></i>
                    Siguenos en Instagram
                </a>
            </div>
            <div class="col-md-7">
                <div class="tns-carousel-wrapper tns-nav-outside">
                    <div class="tns-carousel-inner tns-carousel-inner-seven" data-carousel-options=''>

                        <!-- Image -->
                        <div>
                            <img src="../../../assets/img/home/instagram/instagram1.png" alt="Image">
                        </div>
                        
                        <!-- Image -->
                        <div>
                            <img src="../../../assets/img/home/instagram/instagram2.png" alt="Image">
                        </div>

                        <!-- Image -->
                        <div>
                            <img src="../../../assets/img/home/instagram/instagram3.png" alt="Image">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Subscription CTA -->
<section class="bg-secondary py-5">
    <div class="container pt-2 pt-md-3 pb-3">
        <div class="row align-items-center">
            <form class="col-md-6 col-xl-5 needs-validation" novalidate>
                <h2 class="h1 mb-3">Subscribete para avisos</h2>
                <p class="text-muted fs-lg pb-3 mb-4">Suscríbete para obtener acceso exclusivo a la venta anticipada y novedades.</p>
                <div class="mb-2">
                    <div class="btn-control form-check-inline">
                        <input type="checkbox" class="btn-control-input" id="s-women" checked>
                        <label for="s-women" class="btn-control-label">Women</label>
                    </div>
                    <div class="btn-control form-check-inline">
                        <input type="checkbox" class="btn-control-input" id="s-men">
                        <label for="s-men" class="btn-control-label">Men</label>
                    </div>
                    <div class="btn-control form-check-inline">
                        <input type="checkbox" class="btn-control-input" id="s-girls">
                        <label for="s-girls" class="btn-control-label">Girls</label>
                    </div>
                    <div class="btn-control form-check-inline">
                        <input type="checkbox" class="btn-control-input" id="s-boys">
                        <label for="s-boys" class="btn-control-label">Boys</label>
                    </div>
                </div>
                <div class="mb-4 pt-4">
                    <label for="s-email" class="form-label-lg">Correo Electrónico</label>
                    <div class="input-group input-group-lg">
                        <input type="email" id="s-email" class="form-control" placeholder="Ingresa tu correo electrónico" required>
                        <button type="submit" class="btn btn-primary px-4">Subcribete</button>
                    </div>
                </div>
                <div class="form-check">
                    <input type="checkbox" id="s-agree" class="form-check-input">
                    <label for="s-agree" class="form-check-label fs-base">Acepto recibir e-mails de Quimica & Negocios.</label>
                </div>
            </form>
            <div class="col-md-6 col-xl-7 d-none d-md-block">
                <div class="ms-auto" style="max-width: 459px;">
                    <img src="../../../assets/img/home/subscribe/subscribe-illustration.png" class="d-block"
                        alt="Illustration">
                </div>
            </div>
        </div>
    </div>
</section>