<!-- Carrito de Compras -->
<div id="cart" class="offcanvas offcanvas-end">

    <!-- Header -->
    <div class="offcanvas-header align-items-center border-bottom">
        <h2 class="h5 mb-0">Tu carrito ({{lCarrito.length}})</h2>
        <button class="btn-close me-n1" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <!-- Body -->
    <div class="offcanvas-body pt-0">

        <!-- Item -->
        <div *ngFor="let producto of lCarrito" @opacity class="d-flex align-items-center p-4 border-bottom mx-n4">

            <a class="image-item">
                <img [src]="producto.urlImage" width="80" alt="Product thumb">
            </a>

            <div class="w-100">
                <div class="d-flex justify-content-between">
                    <div class="w-100 px-2">

                        <h3 class="fs-sm mb-3">
                            <a class="nav-link fw-bold">{{producto.name}}</a>
                        </h3>

                        <ul class="list-unstyled fs-xs mt-n2 mb-2">
                            <li class="mb-0"><span class="text-muted">Código: </span>{{producto.code}}</li>
                            <li class="mb-0"><span class="text-muted">Categoría: </span>{{producto.type}}</li>
                            <li class="mb-0"><span class="text-muted">Cantidad: </span>{{producto.quantity}}</li>
                        </ul>

                        <div class="d-flex align-items-center">
                            <div class="text-nowrap sizeCost">
                                <strong class="text-danger">S/.{{ producto.carritoPrice | number : '1.2-2' }} </strong>
                            </div>
                        </div>
                    </div>
                    <div class="nav-muted me-n2 align-self-center">
                        <a (click)="deleteCarrito(producto.id)" class="nav-link px-2 mt-n2" data-bs-toggle="tooltip"
                            title="Remove">
                            <i class="ci-delete"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="lCarrito.length == 0">
            No tienes productos en tu carrito
        </div>
    </div>

    <!-- Footer -->
    <div class="offcanvas-footer flex-column border-top">

        <div class="d-flex align-items-center justify-content-between mb-3 pb-1">
            <span class="me-2">Monto total:</span>
            <span class="h5 mb-0">S/. {{ getMontoTotal() | number : '1.2-2'}}</span>
        </div>

        <a class="btn btn-primary btn-lg d-block w-100" (click)="registrarPedido()">
            <i class="ci-credit-card fs-lg mt-n1 me-1"></i>
            Realizar Pedido
        </a>

    </div>

</div>