<!-- Mis Pedidos -->
<div class="ms-auto p-4 bg-white rounded">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h4 class="mb-0">Mis Pedidos</h4>
    </div>

    <!-- Orders accordion -->
    <div class="accordion accordion-alt" id="orders">

        <!-- Item Order -->
        <div *ngFor="let pedido of PedidosCliente | paginate: { itemsPerPage: 6, currentPage: p} ; let i = index" @opacity class="accordion-item">

            <!-- Cabecera Order -->
            <h6 class="accordion-header" id="order-heading-1">
                <button
                    class="accordion-button accordion-button-indicator-0 flex-wrap justify-content-between fw-normal py-3 fw-normal border-bottom-0"
                    data-bs-toggle="collapse" [attr.data-bs-target]="'#order-'+ i" aria-expanded="true">
                    <span class="pe-2">Nro. {{pedido.id}}</span>
                    <span class="fs-sm text-muted text-nowrap px-2">
                        <i class="ci-clock fs-base align-middle mt-n1 me-1"></i>
                        {{pedido.estimatedDate | date}}
                    </span>
                    <span
                        [class]="'badge text-white ' + colorStatusPedido(pedido.orderStatusId)">{{pedido.orderStatus}}</span>
                    <span class="text-dark fw-bold ps-1">S/.{{getMontoTotal(pedido) | number : '1.2-2'}}</span>
                </button>
            </h6>

            <!-- Productos Order -->
            <div class="accordion-collapse collapse" [id]="'order-'+ i" data-bs-parent="#orders">
                <div class="accordion-body py-0">
                    <div class="bg-secondary rounded mb-4">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tbody>
                                    <tr *ngFor="let producto of pedido.orderDetails">
                                        <td class="border-top-0">
                                            <div class="d-flex align-items-center ps-2 py-2">
                                                <a class="image-item">
                                                    <img [src]="producto.urlImage" width="80" alt="Product thumb">
                                                </a>
                                                <div class="ps-3">
                                                    <h3 class="fs-sm mb-3">
                                                        <a class="nav-link fw-bold">{{producto.name}}</a>
                                                    </h3>
                                                    <ul class="list-unstyled fs-xs mt-n2 mb-2">
                                                        <li class="mb-0">
                                                            <span class="text-muted">Categoría:</span>
                                                            {{producto.type}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="border-top-0">
                                            <div class="py-2">
                                                <div class="fs-xs text-muted mb-1">Precio</div>
                                                <div class="fs-sm text-dark">
                                                    S/. {{producto.salesPrice | number : '1.2-2'}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="border-top-0">
                                            <div class="py-2">
                                                <div class="fs-xs text-muted mb-1">Cantidad</div>
                                                <div class="fs-sm text-dark">{{producto.quantity}}</div>
                                            </div>
                                        </td>
                                        <td class="border-top-0">
                                            <div class="py-2 pe-3 text-end">
                                                <div class="fs-xs text-muted mb-1">Subtotal</div>
                                                <div class="fs-sm fw-bold text-dark">
                                                    S/. {{producto.salesPrice * producto.quantity | number : '1.2-2'}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="py-2 ps-2">
                                                <span class="fs-xs text-muted"></span>
                                                <span class="fs-sm text-dark"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="py-2">
                                                <span class="fs-xs text-muted"></span>
                                                <span class="fs-sm text-dark"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="py-2">
                                                <span class="fs-xs text-muted"> </span>
                                                <span class="fs-sm text-dark"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="py-2 pe-3 text-end">
                                                <span class="fs-md text-muted">Total:
                                                    <strong class="fs-md text-dark ms-2">
                                                        S/.{{getMontoTotal(pedido) | number : '1.2-2'}}
                                                    </strong>
                                                </span>
                                            </div>

                                            <!-- <div class="py-2 pe-3 text-end">
                                                <span class="fs-xs text-muted">Total:</span>
                                                <span class="fs-sm fw-bold text-dark">
                                                    S/.{{getMontoTotal(pedido) | number : '1.2-2'}}
                                                </span>
                                            </div> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-center mb-4">
                        <button class="btn btn-primary btn-sm mx-2" (click)="gotoOrderTracking(pedido.id)">
                            Sigue tu pedido
                        </button>

                        <button *ngIf="pedido.orderStatusId == 7" class="btn btn-outline-primary btn-sm"
                            data-bs-toggle="modal" data-bs-target="#modal-order-review"
                            (click)="changeIdOrder(pedido.id)">
                            Califica tu pedido
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="d-flex align-items-center pt-md-4">
            <nav class="pt-1 ms-auto">
                <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event">
                </pagination-controls>
            </nav>
        </div>

    </div>
</div>

<!-- Modal Order Review -->
<div class="modal fade" id="modal-order-review" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0">
            <app-order-review [idOrder]="idOrder"></app-order-review>
        </div>
    </div>
</div>