<section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
    <div class="row pb-2 pb-lg-0">

        <!-- Menu Perfil -->
        <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">

            <div class="bg-white rounded mb-4">

                <div class="border-bottom p-4">
                    <h5 class="card-title mb-1">{{user.name}}</h5>
                    <p class="card-text text-muted mb-lg-0">{{user.username}}</p>
                </div>

                <div class="collapse d-lg-block">
                    <div class="list-group list-group-flush border-top">

                        <button class="list-group-item list-group-item-action d-flex align-items-center"
                            (click)="gotoProfile()">
                            <i class="ci-profile fs-lg me-2"></i>
                            <span>Mi Perfil</span>
                        </button>

                        <button class="list-group-item list-group-item-action d-flex align-items-center active"
                            (click)="gotoOrdersxID()">
                            <i class="ci-bag fs-lg me-2"></i>
                            <span>Mis Pedidos</span>
                        </button>

                        <button class="list-group-item list-group-item-action d-flex align-items-center"
                            (click)="cerrarSesion()">
                            <i class="ci-logout fs-lg me-2"></i>
                            <span>Cerrar Sesión</span>
                        </button>
                    </div>
                </div>

            </div>

        </aside>

        <!-- Mis Pedidos -->
        <div class="col-lg-8 ms-auto">

            <div class="d-flex align-items-center justify-content-between mb-4 pb-sm-2">
                <h1 class="h2 mb-0">Mis Pedidos</h1>
            </div>

            <!-- Orders accordion -->
            <div class="accordion accordion-alt " id="orders">

                <!-- Order -->
                <div *ngFor="let pedidos of PedidosCliente" class="accordion-item">
                    <h6 class="accordion-header" id="order-heading-1">
                        <button
                            class="accordion-button accordion-button-indicator-0 flex-wrap justify-content-between fw-normal py-3 fw-normal border-bottom-0"
                            type="button" data-bs-toggle="collapse" data-bs-target="#order-collapse-1"
                            aria-expanded="true" aria-controls="order-collapse-1">
                            <span class="pe-2">Nro. {{pedidos.id}}</span>
                            <span class="fs-sm text-muted text-nowrap px-2">
                                <i class="ci-clock fs-base align-middle mt-n1 me-1"></i>
                                {{pedidos.estimatedDate | date}}
                            </span>
                            <span class="badge bg-info text-white">{{pedidos.orderStatus}}</span>
                            <span class="text-dark ps-1">{{pedidos.address}}</span>
                        </button>
                    </h6>
                    <div class="accordion-collapse collapse show" id="order-collapse-1"
                        aria-labelledby="order-heading-1" data-bs-parent="#orders">
                        <div class="accordion-body py-0">
                            <div class="bg-secondary rounded mb-4">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <tbody>
                                            <tr *ngFor="let producto of pedidos.orderDetails">
                                                <td class="border-top-0">
                                                    <div class="d-flex align-items-start ps-2 py-2">
                                                        <a href="shop-single.html" style="min-width: 80px;">
                                                            <img [src]="producto.urlImage" width="80"
                                                                alt="Product thumb">
                                                        </a>
                                                        <div class="ps-3">
                                                            <h3 class="fs-sm mb-3">
                                                                <a href="shop-single.html"
                                                                    class="nav-link fw-bold">{{producto.name}}</a>
                                                            </h3>
                                                            <ul class="list-unstyled fs-xs mt-n2 mb-2">
                                                                <li class="mb-0"><span
                                                                        class="text-muted">Categoría:</span>
                                                                    {{producto.type}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="border-top-0">
                                                    <div class="py-2">
                                                        <div class="fs-xs text-muted mb-1">Precio:</div>
                                                        <div class="fs-sm text-dark">S/. {{producto.salesPrice | number : '1.2-2'}}</div>
                                                    </div>
                                                </td>
                                                <td class="border-top-0">
                                                    <div class="py-2">
                                                        <div class="fs-xs text-muted mb-1">Cantidad:</div>
                                                        <div class="fs-sm text-dark">{{producto.quantity}}</div>
                                                    </div>
                                                </td>
                                                <td class="border-top-0">
                                                    <div class="py-2 pe-3 text-end">
                                                        <div class="fs-xs text-muted mb-1">Subtotal:</div>
                                                        <div class="fs-sm fw-bold text-dark">S/. {{producto.salesPrice * producto.quantity | number : '1.2-2'}}</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="py-2 ps-2">
                                                        <span class="fs-xs text-muted"></span>
                                                        <span class="fs-sm text-dark"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="py-2">
                                                        <span class="fs-xs text-muted"></span>
                                                        <span class="fs-sm text-dark"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="py-2">
                                                        <span class="fs-xs text-muted"> </span>
                                                        <span class="fs-sm text-dark"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="py-2 pe-3 text-end">
                                                        <span class="fs-xs text-muted">Total: </span>
                                                        <span class="fs-sm fw-bold text-dark">S/.{{getSubTotal() | number : '1.2-2'}} </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>