.alert {
    position: fixed;
    top: 4rem;
    right: 0px;
    width: 38rem;
    z-index: 9999;
}

.alert-success {
    color: #ffffff;
    background-color: #198754;
    border-color: transparent;
}

.alert-danger {
    color: #ffffff;
    background-color: #dc3545;
    border-color: transparent;
}

.alert-warning {
    color: #ffffff;
    background-color: #f28608;
    border-color: transparent;
}

// .btn-close {
//     box-sizing: content-box;
//     width: 0.75em;
//     height: 0.75em;
//     padding: none;
//     color: #fff;
//     font-weight: bold;
//     background: transparent;
//     border: 0;
//     border-radius: 0.25rem;
//     opacity: inherit;
//     margin-top: initial;
// }