.alert {
    position: fixed;
    top: 4rem;
    right: 0px;
    width: 38rem;
    z-index: 9999;
}

.alert-success {
    color: #ffffff;
    background-color: #198754;
    border-color: transparent;
}

.alert-danger {
    color: #ffffff;
    background-color: #dc3545;
    border-color: transparent;
}

.alert-warning {
    color: #ffffff;
    background-color: #f28608;
    border-color: transparent;
}