<div class="c-actions">

    <button class="c-actions__item c-actions__item--remove" (click)="decreaseValue(input.value)">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512">
            <line x1="400" y1="256" x2="112" y2="256"
                style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px">
            </line>
        </svg>
    </button>
    
    <input [formControl]="input" class="c-actions__label">

    <button class="c-actions__item c-actions__item--add" (click)="addValue(input.value)">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512">
            <line x1="256" y1="112" x2="256" y2="400"
                style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px">
            </line>
            <line x1="400" y1="256" x2="112" y2="256"
                style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px">
            </line>
        </svg>
    </button>

</div>