<section class="container pt-3 pt-md-4 pb-3 pb-sm-4 pb-lg-5 mb-4">
    <div class="row p-4 bg-white rounded">

        <!-- Header -->
        <div class="col-lg-12 col-md-5 pb-3 pb-md-0 mb-4">
            <h3>Rastrea tu Pedido</h3>
        </div>

        <div class="col-lg-4 fs-ordertracking">

            <!-- Datos del Pedido -->
            <div class="p-3 mb-4 shadow bg-primary">
                <table class="table mb-0 text-light">
                    <tbody>
                        <tr>
                            <th class="border-0 py-2 ps-0">Nro. Orden:</th>
                            <td class="border-0 py-2 px-0 ">{{Pedido.id}}</td>
                        </tr>
                        <tr>
                            <th class="border-0 py-2 ps-0">Fecha Estimada:</th>
                            <td class="border-0 py-2 px-0">{{Pedido.estimatedDate | date: 'mediumDate'}}</td>
                        </tr>
                        <tr>
                            <th class="border-0 py-2 ps-0">Destino:</th>
                            <td class="border-0 py-2 px-0">{{Pedido.address}}</td>
                        </tr>
                        <tr>
                            <th class="border-0 py-2 ps-0">Teléfono:</th>
                            <td class="border-0 py-2 px-0">{{Pedido.client.phone}}</td>
                        </tr>
                        <tr>
                            <th class="border-0 py-2 ps-0">Correo:</th>
                            <td class="border-0 py-2 px-0">{{Pedido.client.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Historial de Pedido -->
            <div class="justify-content-center mb-4 table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th class="border-0"></th>
                            <th class="border-0">Estado</th>
                            <th class="border-0">Fecha</th>
                            <th class="border-0">Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tracking of lOrderHistorial" class="step-vertical active">
                            <th class="pe-3 position-relative border-0" scope="row">
                                <div class="step-line"></div>
                            </th>
                            <td class="py-3">{{tracking.status}}</td>
                            <td class="py-3">{{tracking.date | date: 'mediumDate'}}</td>
                            <td class="py-3">{{tracking.date | date: 'mediumTime'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-lg-8">
            <div id="map" class="map-tracking mapboxgl-map"></div>
        </div>

        <!-- Datos del Pedido -->
        <!-- <div class="col-lg-4 py-3 align-self-center fs-ordertracking shadow bg-primary">
            <table class="table mb-0 text-light">
                <tbody>
                    <tr>
                        <th class="border-0 py-2 ps-0">Nro. Orden:</th>
                        <td class="border-0 py-2 px-0 ">{{Pedido.id}}</td>
                    </tr>
                    <tr>
                        <th class="border-0 py-2 ps-0">Fecha Estimada:</th>
                        <td class="border-0 py-2 px-0">{{Pedido.estimatedDate | date: 'mediumDate'}}</td>
                    </tr>
                    <tr>
                        <th class="border-0 py-2 ps-0">Destino:</th>
                        <td class="border-0 py-2 px-0">{{Pedido.address}}</td>
                    </tr>
                    <tr>
                        <th class="border-0 py-2 ps-0">Teléfono:</th>
                        <td class="border-0 py-2 px-0">{{Pedido.client.phone}}</td>
                    </tr>
                    <tr>
                        <th class="border-0 py-2 ps-0">Correo:</th>
                        <td class="border-0 py-2 px-0">{{Pedido.client.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div> -->

    </div>
</section>