<section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
    <div class="row pb-2 pb-lg-0">

        <!-- Menu Perfil -->
        <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">

            <div class="bg-white rounded mb-4">

                <div class="border-bottom p-4">
                    <h5 class="card-title mb-1">{{user.name}}</h5>
                    <p class="card-text text-muted mb-lg-0">{{user.username}}</p>
                </div>

                <div class="collapse d-lg-block">
                    <div class="list-group list-group-flush border-top">

                        <button class="list-group-item list-group-item-action d-flex align-items-center active">
                            <i class="ci-profile fs-lg me-2"></i>
                            <span>Mi Perfil</span>
                        </button>

                        <button class="list-group-item list-group-item-action d-flex align-items-center"
                            (click)="gotoOrdersxID()">
                            <i class="ci-bag fs-lg me-2"></i>
                            <span>Mis Pedidos</span>
                        </button>

                        <button class="list-group-item list-group-item-action d-flex align-items-center"
                            (click)="cerrarSesion()">
                            <i class="ci-logout fs-lg me-2"></i>
                            <span>Cerrar Sesión</span>
                        </button>
                    </div>
                </div>

            </div>

        </aside>

        <!-- Datos Perfil -->
        <div class="bg-white rounded col-lg-8 ms-auto p-4">

            <h5 class="mb-4">Mi Perfil</h5>
            <form [formGroup]="formCliente">
                <div class="row pb-3">

                    <!-- Nombre Completo -->
                    <div class="col-sm-12 mb-4">
                        <label class="form-label">Nombre</label>
                        <input class="form-control" placeholder="Ingrese su nombre" formControlName="name" readonly>
                    </div>

                    <!-- Tipo/Numero Documento -->
                    <div class="col-sm-12 mb-4">
                        <label class="form-label">{{tipoDocumento}}</label>
                        <input class="form-control" placeholder="Ingrese su RUC" formControlName="numberDocument" readonly>
                    </div>

                    <!-- Email -->
                    <div class="col-sm-12 mb-4">
                        <label class="form-label">Correo Electrónico</label>
                        <input class="form-control" placeholder="Ingrese su correo" formControlName="email" readonly>
                    </div>

                    <!-- Direccion -->
                    <div class="col-sm-12 mb-4">
                        <label class="form-label">Dirección</label>
                        <input class="form-control" placeholder="Ingrese su dirección" formControlName="address" readonly>
                    </div>

                </div>
            </form>

            <!-- Buttons -->
            <!-- <div class="col-sm-12 mb-4 text-end">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div> -->
        </div>

    </div>
</section>