<section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
    <div class="row pb-2 pb-lg-0">

        <!-- Menu Perfil -->
        <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">

            <div class="bg-white rounded mb-4">

                <div class="border-bottom p-4">
                    <h5 class="card-title mb-1">Diego Rodas</h5>
                    <p class="card-text text-muted mb-lg-0">diegorodas2008@hotmail.com</p>
                </div>

                <div class="collapse d-lg-block">
                    <div class="list-group list-group-flush border-top">

                        <a href="account-profile.html"
                            class="list-group-item list-group-item-action d-flex align-items-center active">
                            <i class="ci-profile fs-lg me-2"></i>
                            <span>Mi Perfil</span>
                        </a>

                        <a href="account-orders.html"
                            class="list-group-item list-group-item-action d-flex align-items-center">
                            <i class="ci-bag fs-lg me-2"></i>
                            <span>Mis Pedidos</span>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                            <i class="ci-logout fs-lg me-2"></i>
                            <span>Sign out</span>
                        </a>
                    </div>
                </div>

            </div>
        </aside>

        <!-- Datos Perfil -->
        <div class="bg-white rounded col-lg-8 ms-auto p-4">

            <h5 class="mb-4">Mi Perfil</h5>
            <form>
                <div class="row pb-3">

                    <div class="col-sm-6 mb-4">
                        <label class="form-label">RUC</label>
                        <input class="form-control" placeholder="Ingresa tu RUC.">
                    </div>

                    <div class="col-sm-6 mb-4">
                        <label class="form-label">Nombre</label>
                        <input class="form-control" placeholder="Ingresa tu nombre.">
                    </div>

                    <div class="col-sm-6 mb-4">
                        <label class="form-label">Nro. Celular</label>
                        <input class="form-control" placeholder="Ingresa tu nombre.">
                    </div>

                    <div class="col-sm-6 mb-4">
                        <label class="form-label">Correo Electrónico</label>
                        <input class="form-control" placeholder="Ingresa tu nombre.">
                    </div>

                    <div class="col-sm-12 mb-4">
                        <label class="form-label">Dirección</label>
                        <input class="form-control" placeholder="Ingresa tu dirección.">
                    </div>

                    <div class="col-sm-12 mb-4">
                        <label class="form-label">Comentario</label>
                        <textarea class="form-control" rows="5" placeholder="Ingresa un comentario deseado."></textarea>
                    </div>

                </div>
            </form>

            <button type="submit" class="btn btn-primary">Guardar Cambios</button>

        </div>

    </div>
</section>