<!-- Signin form -->
<div class="view show">

    <!-- Header -->
    <div class="modal-header border-0 pb-0 px-md-5 px-4 d-block position-relative">
        <h3 class="modal-title mt-4 mb-0 text-center">Iniciar Sesión</h3>
        <button type="button" class="btn-close position-absolute" style="top: 1.5rem; right: 1.5rem"
            data-bs-dismiss="modal" aria-label="Close" (click)="onCloseModal()"></button>
    </div>

    <!-- Body -->
    <div class="modal-body px-md-5 px-4">

        <p class="fs-sm text-muted text-center">
            Ingresa a tu cuenta usando el email y contraseña registrados.
        </p>

        <!-- Formulario -->
        <form [formGroup]="formSignIn">

            <div class="mb-4">
                <label class="form-label-lg">Email</label>
                <input type="email" [class]="'form-control '+ prueba('userName')" placeholder="Ingresa tu email"
                    formControlName="userName" />
                <error-message [formControlError]="formSignIn.controls['userName']"></error-message>
            </div>

            <div class="mb-4">
                <label class="form-label-lg">Contraseña</label>
                <div class="password-toggle">
                    <input [class]="'form-control '+ prueba('password')" [type]="hidePassword ? 'password' : 'text'"
                        placeholder="Ingresa tu contraseña" formControlName="password" />
                    <label class="password-toggle-btn">
                        <input class="password-toggle-check" type="checkbox" (click)="hidePassword = !hidePassword" />
                        <i [class]="hidePassword ? 'ci-eye-closed':'ci-eye'"></i>
                    </label>
                </div>
                <error-message [formControlError]="formSignIn.controls['password']"></error-message>
            </div>
        </form>

        <div class="d-flex justify-content-end align-items-center mb-4">
            <a class="fs-sm text-decoration-none">¿Olvidaste tu contraseña?</a>
        </div>

        <button type="submit" class="btn btn-primary w-100" (click)="iniciarSesion()">Ingresar</button>
        <p class="fs-sm pt-4">
            ¿No tienes una cuenta?
            <a class="fw-bold text-decoration-none" (click)="onOpenSignupModal()">
                Registrate</a>
        </p>
    </div>

</div>

<alert
    *ngIf="openModal"
    [type]="typeModal" 
    [contenido]="contenidoModal" 
    (close)="onCloseAlert($event)">
</alert>