<section class="container pt-5 pb-5 pb-md-6 mb-2 mb-lg-0">

    <!-- Toolbar + Pagination -->
    <div class="row mb-4 pb-2">

        <div class="col-md-3 pe-lg-4 mb-3 mb-md-0">

            <!-- Show / hide filters on Desktop -->
            <div class="d-lg-block">
                <button class="btn btn-primary w-100 d-lg-block" (click)="showFilters()">
                    <i [class]="'me-1 ' + (showFilter ? 'ci-filter-1' : 'ci-filter-2')"></i>
                    {{showFilter ? 'Ocultar Filtros':'Mostrar Filtros'}}
                </button>
            </div>

        </div>

        <div class="col-md-9 d-flex justify-content-end">
            <div class="col-md-4 position-relative">
                <input [formControl]="filtro" class="filter-search form-control pe-5" type="text"
                    placeholder="Buscar productos">
                <i class="ci-search fs-sm position-absolute top-50 end-0 translate-middle-y me-3 zindex-5"></i>
            </div>
        </div>

    </div>

    <div class="row flex-lg-nowrap">

        <!-- Filters (sidebar) -->
        <div *ngIf="showFilter" @opacity class="col-lg-3 pe-lg-4">

            <div class="offcanvas-body pb-4">

                <!-- Accordion Filter -->
                <div class="accordion accordion-alt w-100" id="sidebarAccordion">

                    <!-- Item -->
                    <div class="accordion-item">
                        <h6 class="accordion-header" id="head-category">
                            <button 
                                class="accordion-button border-bottom-0" 
                                data-bs-toggle="collapse"
                                data-bs-target="#category" 
                                aria-expanded="true" 
                                aria-controls="category">
                                Categoría</button>
                        </h6>
                        <div 
                            class="accordion-collapse collapse show" 
                            id="category"
                            aria-labelledby="head-category" 
                            data-bs-parent="#sidebarAccordion">
                            <div class="accordion-body pt-0">
                                <div class="widget-data-list">
                                    <ul class="list-unstyled">

                                        <!-- Categorias -->
                                        <li *ngFor="let category of lCategory">
                                            <div class="form-check custom-checkbox">
                                                <input [formControl]="filtroCategoria" type="checkbox"
                                                    class="form-check-input" (click)="itemChecked(category.name)">
                                                <label class="form-check-label">
                                                    <span class="filter-item-text">{{category.name}}</span>
                                                </label>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- Product grid -->
        <div class="col">

            <div
                [class]="'row row-cols-1 row-cols-sm-2 row-cols-md-3 ' + (showFilter ? 'row-cols-lg-3' : 'row-cols-lg-4')">

                <!-- Item -->
                <div class="col pb-sm-2 mb-grid-gutter" @opacity
                    *ngFor="let producto of lCatalogo | filterTable: filtro.value | filterCategory: productName | paginate: { itemsPerPage: 8, currentPage: p}">
                    <div class="card card-product mx-auto">

                        <!-- Imagen -->
                        <div class="card-product-img text-center">
                            <a class="card-img-top">
                                <img [src]="producto.urlImage" class=" pt-3">
                            </a>
                            <div class="card-product-widgets-top">
                                <div class="star-rating ms-auto">
                                    <i class="sr-star ci-star-filled active"></i>
                                    <i class="sr-star ci-star-filled active"></i>
                                    <i class="sr-star ci-star-filled active"></i>
                                    <i class="sr-star ci-star-filled active"></i>
                                    <i class="sr-star ci-star-filled active"></i>
                                </div>
                            </div>

                            <div class="card-product-widgets-bottom">
                                <a  [class]="'btn-wishlist ms-auto active ' + (producto.isSelected == undefined || !producto.isSelected ? '' : 'selected')"
                                    (click)="agregarProductoFavoritos(producto)" 
                                    (mouseenter)="tooltip = !tooltip"
                                    (mouseleave)="tooltip = !tooltip">
                                </a>
                                <tooltip [open]="tooltip" [contenido]="'Agregar a favoritos'"></tooltip>
                            </div>
                        </div>

                        <div class="card-body">

                            <!-- Nombre Producto -->
                            <h3 class="card-product-title fw-bold text-truncate mb-4 text-center">
                                {{producto.name}}
                            </h3>

                            <div class="p-2">
                                <div class="col-md-12 pb-1 card-product-description">
                                    Categoría - <span class="">
                                        {{producto.type}}
                                    </span>
                                </div>

                                <div class="col-md-12 pb-3">
                                    <span class="fw-bold card-product-price">
                                        S/.{{(producto.carritoPrice == null ? producto.salesPrice :
                                        producto.carritoPrice) | number : '1.2-2'}}
                                    </span>
                                </div>

                                <div class="col-md-12">
                                    <input-stepper (value)="calcularPrecioxCantidad($event, producto)"></input-stepper>
                                </div>

                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="button" class="btn btn-primary d-block w-100"
                                (click)="registrarProductoCarrito(producto)">
                                <i class="ci-cart align-middle mt-n1 me-2"></i>
                                Añadir al carrito
                            </button>
                        </div>

                    </div>
                </div>

            </div>

            <!-- Pagination -->
            <div class="d-flex align-items-center pt-md-4">
                <nav class="pt-1 ms-auto">
                    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event">
                    </pagination-controls>
                </nav>
            </div>

        </div>
    </div>
</section>