<section class="container pt-5 pb-5 pb-md-6 mb-2 mb-lg-0">

    <!-- Toolbar + Pagination -->
    <div class="row mb-4 pb-2">

        <div class="col-md-3 pe-lg-4 mb-3 mb-md-0">

            <!-- Show / hide filters on Desktop -->
            <div class="d-lg-block">
                <button class="btn btn-primary w-100 d-lg-block" (click)="showFilters()">
                    <i [class]="'me-1 ' + (showFilter ? 'ci-filter-1' : 'ci-filter-2')"></i>
                    {{showFilter ? 'Ocultar Filtros':'Mostrar Filtros'}}
                </button>
            </div>

        </div>

        <div class="col-md-9 d-flex justify-content-end">
            <div class="col-md-4 position-relative">
                <input class="filter-search form-control pe-5" type="text" placeholder="Buscar productos">
                <i class="ci-search fs-sm position-absolute top-50 end-0 translate-middle-y me-3 zindex-5"></i>
            </div>
        </div>

    </div>

    <div class="row flex-lg-nowrap">

        <!-- Filters (sidebar) -->
        <div *ngIf="showFilter" class="col-lg-3 pe-lg-4">

            <div class="offcanvas-body pb-4">

                <!-- Accordion Filter -->
                <div class="accordion accordion-alt w-100" id="sidebarAccordion">

                    <!-- Item -->
                    <div class="accordion-item">
                        <h6 class="accordion-header" id="sidebarAccordionHeading-2">
                            <button class="accordion-button border-bottom-0 collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#sidebarAccordionCollapse-2"
                                aria-expanded="false" aria-controls="sidebarAccordionCollapse-2">Precio</button>
                        </h6>
                        <div class="accordion-collapse collapse" id="sidebarAccordionCollapse-2"
                            aria-labelledby="sidebarAccordionHeading-2" data-bs-parent="#sidebarAccordion">
                            <div class="accordion-body pt-0">
                                <div class="widget ps-1 pe-3 pb-4 mt-n3">
                                    <div class="range-slider" data-start-min="250" data-start-max="680" data-min="0"
                                        data-max="1000" data-step="1">
                                        <div
                                            class="range-slider-ui noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr">
                                            <div class="noUi-base">
                                                <div class="noUi-connects">
                                                    <div class="noUi-connect"
                                                        style="transform: translate(25%, 0px) scale(0.43, 1);">
                                                    </div>
                                                </div>
                                                <div class="noUi-origin"
                                                    style="transform: translate(-75%, 0px); z-index: 5;">
                                                    <div class="noUi-handle noUi-handle-lower" data-handle="0"
                                                        tabindex="0" role="slider" aria-orientation="horizontal"
                                                        aria-valuemin="0.0" aria-valuemax="680.0" aria-valuenow="250.0"
                                                        aria-valuetext="$250">
                                                        <div class="noUi-touch-area"></div>
                                                        <div class="noUi-tooltip">$250</div>
                                                    </div>
                                                </div>
                                                <div class="noUi-origin"
                                                    style="transform: translate(-32%, 0px); z-index: 4;">
                                                    <div class="noUi-handle noUi-handle-upper" data-handle="1"
                                                        tabindex="0" role="slider" aria-orientation="horizontal"
                                                        aria-valuemin="250.0" aria-valuemax="1000.0"
                                                        aria-valuenow="680.0" aria-valuetext="$680">
                                                        <div class="noUi-touch-area"></div>
                                                        <div class="noUi-tooltip">$680</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="noUi-pips noUi-pips-horizontal">
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                    style="left: 0%;"></div>
                                                <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                    data-value="0" style="left: 0%;">0</div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 1%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 2%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 3%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 4%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 5%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 6%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 7%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 8%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 9%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 10%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 11%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 12%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 13%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 14%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 15%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 16%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 17%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 18%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 19%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 20%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 21%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 22%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 23%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 24%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                    style="left: 25%;"></div>
                                                <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                    data-value="250" style="left: 25%;">250</div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 26%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 27%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 28%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 29%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 30%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 31%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 32%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 33%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 34%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 35%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 36%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 37%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 38%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 39%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 40%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 41%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 42%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 43%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 44%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 45%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 46%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 47%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 48%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 49%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                    style="left: 50%;"></div>
                                                <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                    data-value="500" style="left: 50%;">500</div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 51%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 52%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 53%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 54%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 55%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 56%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 57%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 58%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 59%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 60%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 61%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 62%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 63%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 64%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 65%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 66%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 67%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 68%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 69%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 70%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 71%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 72%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 73%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 74%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                    style="left: 75%;"></div>
                                                <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                    data-value="750" style="left: 75%;">750</div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 76%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 77%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 78%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 79%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 80%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 81%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 82%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 83%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 84%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 85%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 86%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 87%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 88%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 89%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 90%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 91%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 92%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 93%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 94%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 95%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 96%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 97%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 98%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-normal"
                                                    style="left: 99%;"></div>
                                                <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                    style="left: 100%;"></div>
                                                <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                    data-value="1000" style="left: 100%;">1000</div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="w-50">
                                                <div class="form-group position-relative mb-0">
                                                    <input type="number"
                                                        class="form-control form-control-sm range-slider-value-min">
                                                </div>
                                            </div>
                                            <div class="mx-1 px-2 fs-xs">—</div>
                                            <div class="w-50">
                                                <div class="form-group position-relative mb-0">
                                                    <input type="number"
                                                        class="form-control form-control-sm range-slider-value-max">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Item -->
                    <div class="accordion-item">
                        <h6 class="accordion-header" id="sidebarAccordionHeading-4">
                            <button class="accordion-button border-bottom-0 collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#sidebarAccordionCollapse-4"
                                aria-expanded="false" aria-controls="sidebarAccordionCollapse-4">Categoría</button>
                        </h6>
                        <div class="accordion-collapse collapse" id="sidebarAccordionCollapse-4"
                            aria-labelledby="sidebarAccordionHeading-4" data-bs-parent="#sidebarAccordion">
                            <div class="accordion-body pt-0">
                                <div class="widget-data-list">
                                    <ul class="list-unstyled">
                                        <li>
                                            <div class="form-check custom-checkbox">
                                                <input type="checkbox" class="form-check-input" id="xs">
                                                <label for="xs" class="form-check-label">
                                                    <span class="filter-item-text">XS</span>
                                                    <span class="ps-1 text-muted">(16)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check custom-checkbox">
                                                <input type="checkbox" class="form-check-input" id="s">
                                                <label for="s" class="form-check-label">
                                                    <span class="filter-item-text">S</span>
                                                    <span class="ps-1 text-muted">(12)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check custom-checkbox">
                                                <input type="checkbox" class="form-check-input" id="m">
                                                <label for="m" class="form-check-label">
                                                    <span class="filter-item-text">M</span>
                                                    <span class="ps-1 text-muted">(5)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check custom-checkbox">
                                                <input type="checkbox" class="form-check-input" id="l">
                                                <label for="l" class="form-check-label">
                                                    <span class="filter-item-text">L</span>
                                                    <span class="ps-1 text-muted">(11)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check custom-checkbox">
                                                <input type="checkbox" class="form-check-input" id="xl">
                                                <label for="xl" class="form-check-label">
                                                    <span class="filter-item-text">XL</span>
                                                    <span class="ps-1 text-muted">(18)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check custom-checkbox">
                                                <input type="checkbox" class="form-check-input" id="plus">
                                                <label for="plus" class="form-check-label">
                                                    <span class="filter-item-text">Plus Size</span>
                                                    <span class="ps-1 text-muted">(4)</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- Product grid -->
        <div class="col">

            <div
                [class]="'row row-cols-1 row-cols-sm-2 row-cols-md-3 ' + (showFilter ? 'row-cols-lg-3' : 'row-cols-lg-4')">

                <!-- Item -->
                <div class="col pb-sm-2 mb-grid-gutter" *ngFor="let producto of lCatalogo">
                    <div class="card card-product mx-auto">

                        <!-- Imagen -->
                        <div class="card-product-img text-center">
                            <a class="card-img-top">
                                <img [src]="producto.urlImage" class=" pt-3">
                            </a>
                            <div class="card-product-widgets-top">
                                <div class="star-rating ms-auto">
                                    <i class="sr-star ci-star-filled active"></i>
                                    <i class="sr-star ci-star-filled active"></i>
                                    <i class="sr-star ci-star-filled active"></i>
                                    <i class="sr-star ci-star-filled active"></i>
                                    <i class="sr-star ci-star-filled active"></i>
                                </div>
                            </div>
                            <div class="card-product-widgets-bottom">
                                <a class="btn-wishlist ms-auto click" (mouseenter)="tooltip = !tooltip"
                                    (mouseleave)="tooltip = !tooltip"></a>
                                <tooltip [open]="tooltip" [contenido]="'Agregar a favoritos'"></tooltip>
                            </div>
                        </div>

                        <div class="card-body">

                            <!-- Nombre Producto -->
                            <h3 class="card-product-title fw-bold text-truncate mb-4 text-center">
                                {{producto.name}}
                            </h3>

                            <div class="card-product-description p-2">
                                <div class="col-md-12 pb-1">
                                    Categoría - <span class="">
                                        {{producto.type}}
                                    </span>
                                </div>

                                <div class="col-md-12 pb-3">
                                    Precio Venta - <span class="fw-bold text-danger">
                                        S/.{{producto.carritoPrice == null ? producto.salesPrice : producto.carritoPrice
                                        |
                                        number : '1.2-2'}}
                                    </span>
                                </div>

                                <div class="row col-md-12">
                                    <div class="col-md-6 text-center align-self-center">Cantidad</div>
                                    <div class="col-md-6">
                                        <input (input)="calcularPrecioxCantidad($event, producto)" type="number"
                                            [min]="1" class="form-control form-control-sm bg-light me-3" value="1">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card-footer">
                            <button type="button" class="btn btn-primary d-block w-100"
                                (click)="registrarProductoCarrito(producto)">
                                <i class="ci-cart align-middle mt-n1 me-2"></i>
                                Añadir al carrito
                            </button>
                        </div>

                    </div>
                </div>

            </div>

            <!-- Toolbar + Pagination -->
            <div class="d-flex align-items-center pt-md-4">
                <nav class="pt-1 ms-auto" aria-label="Pagination">
                    <ul class="pagination mb-0">
                        <li class="page-item d-sm-none">
                            <span class="page-link page-link-static">1 / 5</span>
                        </li>
                        <li class="page-item active d-none d-sm-block" aria-current="page">
                            <span class="page-link">1
                                <span class="visually-hidden">(current)</span>
                            </span>
                        </li>
                        <li class="page-item d-none d-sm-block">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item d-none d-sm-block">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item d-none d-sm-block">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item d-none d-sm-block">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <i class="ci-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</section>